<h1>Overview</h1>

<%= @overview.most_used_categories_for_costs %>

<% @overview.costs.each do |cost| %>
<p>$<%= cost.amount %> (<%= cost.category.name %>)</p>
<% end %>

<br />
<%= new_category_button %>
<br />
<%= link_to "New Category", new_category_path, class: 'btn btn-primary' %>
