<%= form_for @cost, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <%= select_tag "category", options_from_collection_for_select(@categories, "id", "name", @cost.try(:category).try(:id)) %>

  <div class="form-group">
    <%= f.label :amount, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :amount, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  costs_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
